<%= erb :'/navbar'%>

<div class="banner"></div>

<div class="row clearfix">

  <div class="col-1-2 intro1">
    <h3>Hey there, I'm Sarah. <br>
    I work at the intersection
    of tech, data, and human rights.</h3>
  </div>

  <div class="col-1-2 intro2">
    <p>I'm currently a <a href="https://advocacy.mozilla.org/en-US/open-web-fellows/fellows2017" target="_blank">
    2017-2018 Ford Mozilla Open Web Fellow</a>, working on issues of data privacy and digital security.
    I'm a data activist, operational security trainer, programmer, and data visualization developer.
    My work lies at the intersection of data, tech, human rights, and transformative justice.
    You can find me somewhere between Brooklyn and Beirut.<br>
    Take a look at my <a href="/projects">recent projects</a>, or check out <a href="/cv">my CV</a> to get a better
    sense of what I do.<br>
    Or drop me a line at <a href="mailto:sara@rad.cat">sarah@rad.cat</a>.
    </p>
  </div>

</div>
