<%= erb :'/navbar'%>

<div class="banner"></div>

<div class="row clearfix">

  <div class="col-1-2 intro1">
    <h3>Hey there, I'm Sarah. <br>
    I work at the intersection
    of tech, data, and human rights.</h3>
  </div>

  <div class="col-1-2 intro2">
    <p>These days, I dabble in full-stack web development and data visualization, and I'm a current
    <a href="https://internetfreedomfestival.org/internet-freedom-festival-fellowship-program/" target="_blank">Internet Freedom Festival Fellow</a>.
    I've also worked in human rights law and policy, data storytelling,
    digital strategy. My interests lie at the intersection of code, data,
    feminism, gender, identity, and human rights. <br>
    You can find me somewhere between Brooklyn and Beirut.<br>
    Take a look at my <a href="/projects">recent projects</a>, or check out <a href="/cv">my CV</a> to get a better
    sense of what I do.<br>
    Or drop me a line at <a href="mailto:sarahm.aoun@gmail.com">sarahm.aoun@gmail.com</a>.
    </p>
  </div>

</div>

