<%= erb :'/navbar'%>

<div class="row projects">

  <div class="projectPreview">
    <img src="../img/project4.png">
  </div>


  <div class="projectDescription">
    <h2>Back-End Development</h2>
    <p>> <a href="https://catsosphere.herokuapp.com" target=_blank>View Site</a></p>
    <p>> <a href="https://github.com/saoun/Catsosphere" target=_blank>View Code</a></p>
    <p>Blog site with the following features:<br>
    - User sign in, profile, post editing and commenting <br>
    - AWS S3 integration for image and avatar uploads<br>
    - Devise authentication<br>
    - User Messaging<br>
    - Emoji keyboard<br>
    - Threaded Replies<br>
    - Post editing time limit to 1 hour<br>
    - Bootstrap and responsive pages<br></p>
    <p><i>Made with: Ruby/Rails</i></p>
  </div>

</div>
