<%= erb :'/navbar'%>

<div class="row projects">

  <div class="projectPreview">
    <img src="../img/project2.png">
  </div>


  <div class="projectDescription">
    <h2>Game Development</h2>
    <p>> <a href="https://saoun.github.io" target=_blank>View Site</a></p>
    <p>> <a href="https://github.com/saoun/saoun.github.io" target=_blank>View Code</a></p>
    <p>Javascript Game</p>
    <p><i>Made with: HTML/CSS/Javascript/jQuery</i></p>
  </div>

</div>
