<%= erb :'/navbar'%>

<div class="row projects">

  <div class="projectPreview">
    <img src="../img/project3.png">
  </div>


  <div class="projectDescription">
    <h2>Halfways: Application Development</h2>
    <p>> <a href="https://meet-halfway.herokuapp.com" target=_blank>View Site</a></p>
    <p>> <a href="https://github.com/CEG-Codes/Meet-Halfway" target=_blank>View Code</a></p>
    <p>Application with the following features:<br>
    - User sign in <br>
    - Search for halfway point suggestions: bars, cafés, restaurants<br>
    - Share with friends link <br>
    - Save places to favorites <br>
    - Enable and disable circle search on map <br>
    - Google OAuth <br>
    - Google Maps API <br>
    - Twitter Widget Popup <br>
    <p><i>Made with: Ruby/Rails/Javascript</i></p>
  </div>

</div>
