<%= erb :'/navbar'%>
<!-- <h3 class="temp">Coming Soon. Check out my <a href="https://www.github.com/saoun" target="_blank">github profile</a>.</h3>
 -->

<div class="row projects">

  <div class="col-1-2 projectColumn">
    <a class ="projectLink" href="#">
      <img class ="projectImg" src="../img/project1.png">
        <div class="projectBack">
          <p class="projectText">RIGHTS FORWARD</p>
        </div>
      </img>
    </a>
  </div>

  <div class="col-1-2 projectColumn">
    <a class ="projectLink" href="#">
      <img class ="projectImg" src="../img/project2.png">
        <div class="projectBack">
          <p class="projectText">GAME DEV</p>
        </div>
      </img>
    </a>
  </div>

  <div class="col-1-2 projectColumn">
    <a class ="projectLink" href="#">
      <img class ="projectImg" src="../img/project3.png">
        <div class="projectBack">
          <p class="projectText">HALFWAYS</p>
        </div>
      </img>
    </a>
  </div>

  <div class="col-1-2 projectColumn">
    <a class ="projectLink" href="#">
      <img class ="projectImg" src="../img/project3.png">
        <div class="projectBack">
          <p class="projectText">HALFWAYS</p>
        </div>
      </img>
    </a>
  </div>

<!--   <div class="col-1-2 projectColumn">
    <a class ="projectLink" href="#">
      <div class="projectBack">
        <img src="../img/project2.png">
        <p class="projectText">JS GAME</p>
      </div>
    </a>
  </div>

  <div class="col-1-2 projectColumn">
    <a class ="projectLink" href="#">
      <div class="projectBack">
        <img src="../img/project3.png">
        <p class="projectText">HALFWAYS</p>
      </div>
    </a>
  </div> -->




  <!-- <div class="col-1-2 projectImgs">
    <a class ="projectLink" href="#">
    <img src="../img/project2.png">
    </a>
  </div>

  <div class="col-1-2 projectImgs">
    <a class ="projectLink" href="#">
    <img src="../img/project3.png">
    </a>
  </div> -->

</div>
