<%= erb :'/navbar'%>
<!-- <h3 class="temp">Coming Soon. Check out my <a href="https://www.github.com/saoun" target="_blank">github profile</a>.</h3>
 -->

<div class="row clearfix projects">

  <div class="col-1-2 projectImgs">
    <img src="../img/project1.png">
  </div>

  <div class="col-1-2 projectImgs">
    <img src="../img/project2.png">
  </div>

  <div class="col-1-2 projectImgs">
    <img src="../img/project3.png">
  </div>

</div>
