<%= erb :'/navbar'%>

<div class="row projects">

  <div class="col-1-2 projectColumn">
    <a class ="projectLink" href="/projects/rightsfwd">
      <img class ="projectImg" src="../img/project5.png">
        <div class="projectBack">
          <p class="projectText">DESIGN + FRONT-END</p>
        </div>
      </img>
    </a>
  </div>

  <div class="col-1-2 projectColumn">
    <a class ="projectLink" href="/projects/rightsforward">
      <img class ="projectImg" src="../img/project1.png">
        <div class="projectBack">
          <p class="projectText">BACK-END DEV</p>
        </div>
      </img>
    </a>
  </div>

  <div class="col-1-2 projectColumn">
    <a class ="projectLink" href="/projects/gamedev">
      <img class ="projectImg" src="../img/project2.png">
        <div class="projectBack">
          <p class="projectText">GAME DEV</p>
        </div>
      </img>
    </a>
  </div>

  <div class="col-1-2 projectColumn">
    <a class ="projectLink" href="/projects/halfways">
      <img class ="projectImg" src="../img/project3.png">
        <div class="projectBack">
          <p class="projectText">APPLICATION DEV</p>
        </div>
      </img>
    </a>
  </div>

  <div class="col-1-2 projectColumn">
    <a class ="projectLink" href="/projects/backenddev">
      <img class ="projectImg" src="../img/project4.png">
        <div class="projectBack">
          <p class="projectText">BACK-END DEV</p>
        </div>
      </img>
    </a>
  </div>

<!--   <div class="col-1-2 projectColumn">
    <a class ="projectLink" href="#">
      <div class="projectBack">
        <img src="../img/project2.png">
        <p class="projectText">JS GAME</p>
      </div>
    </a>
  </div>

  <div class="col-1-2 projectColumn">
    <a class ="projectLink" href="#">
      <div class="projectBack">
        <img src="../img/project3.png">
        <p class="projectText">HALFWAYS</p>
      </div>
    </a>
  </div> -->




  <!-- <div class="col-1-2 projectImgs">
    <a class ="projectLink" href="#">
    <img src="../img/project2.png">
    </a>
  </div>

  <div class="col-1-2 projectImgs">
    <a class ="projectLink" href="#">
    <img src="../img/project3.png">
    </a>
  </div> -->

</div>
