<%= erb :'/navbar'%>

<div class="row projects">

  <div class="projectPreview">
    <img src="../img/project1.png">
  </div>


  <div class="projectDescription">
    <h2>Rights Forward</h2>
    <p>> <a href="https://rightsforward.herokuapp.com" target=_blank>View Site</a></p>
    <p>> <a href="https://github.com/saoun/Rights-Forward" target=_blank>View Code</a></p>
    <p>Employment site and search engine with the following features:<br>
    - User sign in <br>
    - User profile editing <br>
    - Search across profiles with selected criteria <br>
    - Twitter OAuth authentication<br></p>
    <p><i>Made with: Ruby/Rails</i></p>

  </div>

</div>
