<%= erb :'/navbar'%>

<div class="workshops clearfix">
  <h3>A few workshops I've given, or places I've spoken at:</h3>
  <div class="divider"></div>
  <p><strong><a href="https://wellstone.org" target="_blank">Wellstone + Center for Media Justice</a> '18</strong> - <i>Oakland, CA</i> - Grassroots Communities Security</p>
  <p><strong><a href="https://en.wikipedia.org/wiki/Wikipedia:Meetup/NYC/Wikipedia_Day_2018" target="_blank">Wikipedia</a> '18</strong> - <i>New York, NYC</i> - Challenges of Online Communities</p>
  <p><strong><a href="https://www.mozilla.org" target="_blank">Mozilla - NYC Stronger Communities</a> '18</strong> - <i>New York, NYC</i> - Building Political Power & Organizational Security </p>
  <p><strong><a href="http://sfpc.io/" target="_blank">School for Poetic Computation</a> '17</strong> - <i>New York, NYC</i> - Guest Lecture - History of Surveillance: Imperialism & Colonialism </p>
  <p><strong><a href="http://radicalnetworks.org/" target="_blank">Radical Networks</a> '17</strong> - <i>Brooklyn, NYC</i> - Setting up Your Own VPN </p>
  <p><strong><a href="http://www.data4chan.ge/" target="_blank">Data4Change</a>, Small Media '17</strong> - <i>Kampala, Uganda</i> - Data visualization and data storytelling: Mental Health + LGBTQ</p>
  <p><strong><a href="https://www.rafto.no/" target="_blank">Rafto Foundation</a>, <a href="http://www.gc4hr.org/" target="_blank">Gulf Center for Human Rights</a> '17</strong> - <i>Colombo, Sri Lanka</i> - Digital & Physical Security</p>
  <p><strong><a href="https://www.queenslibrary.org" target="_blank">Queens Library</a> '17</strong> - <i>New York City, USA</i> - Security and Privacy Impacts on Data Flows</p>
  <p><strong><a href="https://www.pdf17.com/" target="_blank">Personal Democracy Forum</a> '17</strong> - <i>New York City, USA</i> - Digital Privacy for Stronger NYC Communities and Beyond</p>
  <p><strong><a href="https://www.alliedmedia.org/amc" target="_blank">Allied Media Conference</a> '17</strong> - <i>Detroit, USA</i> - Beyond Security: Technology and Revolution!</p>
  <p><strong><a href="https://www.alliedmedia.org/amc" target="_blank">Allied Media Conference</a> '17</strong> - <i>Detroit, USA</i> - Collaborative Security: Design and Thinking</p>
  <p><strong><a href="http://brunchandbudget.com/podcast/bnb150/" target="_blank">Brunch & Budget</a> '17</strong> - <i>New York City, USA</i> - How to Protect your Digital Financial Footprint</p>
  <p><strong><a href="http://council.nyc.gov/" target="_blank">New York City Council</a> '17</strong> - <i>New York City, USA</i> - Data Privacy: Regaining Agency</p>
  <p><strong><a href="https://library.qc.cuny.edu/" target="_blank">Queens College Libraries</a> '17</strong> - <i>New York City, USA</i> - Library systems and digital safety</p>
  <p><strong><a href="https://hivechicago.org/" target="_blank">Mozilla Hive Chicago</a> '17</strong> - <i>Chicago, USA</i> - Data trails and digital safety</p>
  <p><strong><a href="https://internetfreedomfestival.org/" target="_blank">Internet Freedom Festival</a> '17</strong> - <i>Valencia, Spain</i> - Collaborative security: from training to empowerment</p>
  <p><strong><a href="https://internetfreedomfestival.org/" target="_blank">Internet Freedom Festival</a> '17</strong> - <i>Valencia, Spain</i> - Fellow on Design & Communication</p>
  <p><strong><a href="http://www.jhr.ca/en/" target="_blank">Journalists for Human Rights</a> '17</strong> - <i>Beirut, Lebanon</i> - Responsible data & ethics, data scraping & cleaning, data visualization</p>
  <p><strong><a href="http://www.jhr.ca/en/" target="_blank">Journalists for Human Rights</a> '17</strong> - <i>Amman, Jordan</i> - Responsible data & ethics, data scraping & cleaning, data visualization</p>
  <p><strong><a href="http://hivenyc.org/" target="_blank">Mozilla Hive New York</a> '17</strong> - <i>New York City, USA</i> - Digital Security and surveillance</p>
  <p><strong><a href="https://www.meetup.com/make-a-diff/" target="_blank">Make A Diff CryptoParty</a> '17</strong> - <i>New York City, USA</i> - Digital privacy and security</p>
  <p><strong>Mozilla + Tactical Tech, <a href="https://theglassroomnyc.org/" target="_blank">The Glass Room</a> '16</strong> - <i>New York City, USA</i> - Digital privacy and security</p>
  <p><strong><a href="data4chan.ge" target="_blank">Data4Change</a>, Small Media '16</strong> - <i>Beirut, Lebanon</i> -  Data visualization, responsible data and ethics, data privacy, digital security</p>
  <p><strong>Mozilla, <a href="https://mozillafestival.org/" target="_blank">MozFest</a> '16</strong> - <i>London, UK</i> - Data visualization, data scraping & cleaning</p>
  <p><strong><a href="https://conversazionisulfuturo.it/" target="_blank">Conversazioni Sul Futuro</a>, TEDxLecce '16</strong> - <i>Lecce, Italy</i> - Human rights and the rise of right-wing powers</p>
  <p><strong><a href="http://www.icfj.org/" target="_blank">International Center for Journalists (ICFJ)</a> '16</strong> - <i>DC, USA</i> - Data visualization, journalism</p>
  <p><strong><a href="http://www.gc4hr.org/" target="_blank">Gulf Center for Human Rights</a> '16</strong> - <i>Beirut, Lebanon</i> - Data visualization, advocacy, activism</p>
  <p><strong><a href="https://www.rafto.no/" target="_blank">Rafto Foundation</a> '16</strong> - <i>Beirut, Lebanon</i> - Data visualization and advocacy, human rights, activism</p>
  <p><strong><a href="https://www.bu.edu/com/data-storytelling/" target="_blank">Boston University's Data Storytelling</a> '16</strong> - <i>Boston, USA</i> - Data storytelling, data mapping</p>
  <p><strong><a href="https://internetfreedomfestival.org/" target="_blank">Internet Freedom Festival</a> '16</strong> - <i>Valencia, Spain</i> - Data storytelling, visualization, advocacy</p>
  <p><strong><a href="https://www.ire.org/" target="_blank">Investigative Reporters and Editors (IRE)</a> '15</strong> - <i>Philadelphia, USA</i> - Data visualization, journalism</p>
  <p><strong><a href="http://www.icfj.org/" target="_blank">International Center for Journalists (ICFJ)</a> '15</strong> - <i>DC, USA</i> - Data visualization, journalism</p>
  <p><strong><a href="data4chan.ge" target="_blank">Data4Change</a>, Small Media '15</strong> - <i>Beirut, Lebanon</i> - Data visualization, data enhancing, mapping, advocacy</p>
  <p><strong><a href="https://www.bu.edu/com/data-storytelling/" target="_blank">Boston University's Data Storytelling</a> '15</strong> - <i>Boston, USA</i> - Data storytelling, data mapping</p>
</div>
