<%= erb :'/navbar'%>

<div class="workshops clearfix">
  <h3>A few of the places I've spoken at, or given workshops:</h3>
  <div class="divider"></div>
  <p><strong>Internet Freedom Festival '17</strong> - <i>Valencia, Spain</i> - Fellow on Design & Communication</p>
  <p><strong>MozFest '16</strong> - <i>London, UK</i> - Data visualization</p>
  <p><strong>Conversazioni Sul Fututo, TEDxLecce '16</strong> - <i>Lecce, Italy</i> - Human rights, advocacy, refugee crisis</p>
  <p><strong>Data4Change, Small Media '16</strong> - <i>Beirut, Lebanon</i> -  Data visualization, risks and best practices, data privacy, advocacy</p>
  <p><strong>International Center for Journalists (ICFJ) '16</strong> - <i>DC, USA</i> - Data visualization, journalism</p>
  <p><strong>Gulf Center for Human Rights '16</strong> - <i>Beirut, Lebanon</i> - Data visualization, advocacy, activism</p>
  <p><strong>Rafto Foundation '16</strong> - <i>Beirut, Lebanon</i> - Data visualization and advocacy, human rights, activism</p>
  <p><strong>Boston University's Data Storytelling '16</strong> - <i>Boston, USA</i> - Data storytelling, data mapping</p>
  <p><strong>Internet Freedom Festival '16</strong> - <i>Valencia, Spain</i> - Data storytelling, visualization, advocacy</p>
  <p><strong>Investigative Reporters and Editors (IRE) '15</strong> - <i>Philadelphia, USA</i> - Data visualization, journalism</p>
  <p><strong>International Center for Journalists (ICFJ) '15</strong> - <i>DC, USA</i> - Data visualization, journalism</p>
  <p><strong>Data4Change, Small Media '15</strong> - <i>Beirut, Lebanon</i> - Data visualization, data enhacing, mapping, advocacy</p>
  <p><strong>Boston University's Data Storytelling '15</strong> - <i>Boston, USA</i> - Data storytelling, data mapping</p>
</div>
