<%= erb :'/navbar'%>

<div class="workshops clearfix">
  <h3>A few workshops I've given, or places I've spoken at:</h3>
  <div class="divider"></div>
  <p><strong><a href="https://internetfreedomfestival.org/" target="_blank">Internet Freedom Festival</a> '17</strong> - <i>Valencia, Spain</i> - Fellow on Design & Communication</p>
  <p><strong><a href="http://hivenyc.org/" target="_blank">Mozilla Hive New York</a> '17</strong> - <i>New York City, USA</i> - Digital Security and surveillance</p>
  <p><strong><a href="https://www.meetup.com/make-a-diff/" target="_blank">Make A Diff CryptoParty</a> '17</strong> - <i>New York City, USA</i> - Digital privacy and security</p>
  <p><strong>Mozilla + Tactical Tech, <a href="https://theglassroomnyc.org/" target="_blank">The Glass Room</a> '16</strong> - <i>New York City, USA</i> - Digital privacy and security</p>
  <p><strong><a href="data4chan.ge" target="_blank">Data4Change</a>, Small Media '16</strong> - <i>Beirut, Lebanon</i> -  Data visualization, responsible data and ethics, data privacy, digital security</p>
  <p><strong>Mozilla, <a href="https://mozillafestival.org/" target="_blank">MozFest</a> '16</strong> - <i>London, UK</i> - Data visualization, data scraping & cleaning</p>
  <p><strong><a href="https://conversazionisulfuturo.it/" target="_blank">Conversazioni Sul Futuro</a>, TEDxLecce '16</strong> - <i>Lecce, Italy</i> - Human rights and the rise of right-wing powers</p>
  <p><strong><a href="http://www.icfj.org/" target="_blank">International Center for Journalists (ICFJ)</a> '16</strong> - <i>DC, USA</i> - Data visualization, journalism</p>
  <p><strong><a href="http://www.gc4hr.org/" target="_blank">Gulf Center for Human Rights</a> '16</strong> - <i>Beirut, Lebanon</i> - Data visualization, advocacy, activism</p>
  <p><strong><a href="https://www.rafto.no/" target="_blank">Rafto Foundation</a> '16</strong> - <i>Beirut, Lebanon</i> - Data visualization and advocacy, human rights, activism</p>
  <p><strong><a href="https://www.bu.edu/com/data-storytelling/" target="_blank">Boston University's Data Storytelling</a> '16</strong> - <i>Boston, USA</i> - Data storytelling, data mapping</p>
  <p><strong><a href="https://internetfreedomfestival.org/" target="_blank">Internet Freedom Festival</a> '16</strong> - <i>Valencia, Spain</i> - Data storytelling, visualization, advocacy</p>
  <p><strong><a href="https://www.ire.org/" target="_blank">Investigative Reporters and Editors (IRE)</a> '15</strong> - <i>Philadelphia, USA</i> - Data visualization, journalism</p>
  <p><strong><a href="http://www.icfj.org/" target="_blank">International Center for Journalists (ICFJ)</a> '15</strong> - <i>DC, USA</i> - Data visualization, journalism</p>
  <p><strong><a href="data4chan.ge" target="_blank">Data4Change</a>, Small Media '15</strong> - <i>Beirut, Lebanon</i> - Data visualization, data enhancing, mapping, advocacy</p>
  <p><strong><a href="https://www.bu.edu/com/data-storytelling/" target="_blank">Boston University's Data Storytelling</a> '15</strong> - <i>Boston, USA</i> - Data storytelling, data mapping</p>
</div>
