*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  margin: 0;
  padding-top: 100px;
}

/* /////////////////////////////////////////////////////////////*/
/* NAVBAR */
 a {
  text-decoration: none;
  color: #828080;
}

#logo a {
  color: #333;
}

a:hover{
  color: #da0f0f;
}

a:hover#menu-icon {
  background-color: #333;
}

header {
  font-weight: 300;
  width: 100%;
  height: 116px;
  top: 0;
  left: 0;
/*   border-bottom: 1px solid black;
 */  z-index: 100;
  position: fixed;
  background-color: white;
  padding-top: 5px;
}

#logo {
  font-weight: 700;
  font-size: 30px;
  margin-left: 60px;
  float: left;
  display: block;
}

nav {
  float: right;
  padding: 32px;
}

.navUL li {
  display: inline-block;
  float: left;
  padding: 0 15px 0 15px;
  font-size: 15px;
  letter-spacing: 1px;
}

#menu-icon {
  display: hidden;
  width: 40px;
  height: 40px;
  background: #333 url(../img/menu-icon.png) center;
}

/* /////////////////////////////////////////////////////////////*/
/* PROJECT PAGE */

div .projects {
  margin-top: 100px;
}

div.projectColumn {
    height: 250px;
    width: 450px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 60px;
    position: relative;
  }

.projectLink > img{
  height: 100%;
}

.projectText {
  text-align: center;
  vertical-align: middle;
  color: white;
  font-weight: 600;
  letter-spacing: 3px;
  position: absolute;
  margin-top: 25%;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.projectBack {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

/* /////////////////////////////////////////////////////////////*/
/* SUB-PROJECT PAGES */

div.projectPreview {
    height: 350px;
    /* width: 450px; */
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 60px;
    float: left;
    position: relative;
  }

.projectPreview > img {
  height: 100%;
}

div.projectDescription {
  margin-left: 750px;
}

.projectDescription p {
  font-weight: 300;
  line-height: 30px;
  padding: 0 15px 0 15px;
}


/* /////////////////////////////////////////////////////////////*/
/* ABOUT PAGE */
.banner {
  position: relative;
  background: url(../img/photo1.jpg) no-repeat center;
  width: 100%;
  height: 33vh;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; /* check these again */
/*   background-position: 100px 100px;
 */
}

.row {
  margin: 5px 40px;
}

.row:last-child {
  margin-bottom: 0;
}

.intro1 h3 {
  font-weight: 600;
  letter-spacing: 1px;
}

.intro2 {
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 28px;
  text-align: justify;
}

.intro2 a {
  color: #da0f0f;
}

/* /////////////////////////////////////////////////////////////*/
/* WORKSHOPS PAGE */
.workshops {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

.workshops p {
  font-weight: 300;
  line-height: 30px;
  padding: 0 15px 0 15px;
}

.workshops strong {
  font-weight: 600;
}

.workshops a{
  color: #333;
}

.workshops a:hover{
  color: #da0f0f;
}

.divider {
  background-color: #cccccc;
  margin: 0 326px 40px 326px;
  height: 1px;
}

/* /////////////////////////////////////////////////////////////*/
/* CV */
.cv h3 {
  font-weight: 300;
  letter-spacing: 1px;
}

.col-1-3 h3 {
  margin-left: 20px;
}

[class*="col-"] {
  padding: 0;
}

.cv h4.nom {
  margin-top: 18px;
}

.cv h4 {
  font-weight: 300;
  margin-top: -15px;
  padding: 0;
}

.cv h5 {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 40px;
  margin-right: 160px;
  margin-top: -10px;
  text-align: justify;
}

.dividerCV {
  background-color: #e2e0e0;
  margin: 0 58px 40px 58px;
  height: 1px;
}


/* /////////////////////////////////////////////////////////////*/
/* CONTACT PAGE */
 .widgetImg {
  width: 50px;
  position: relative;
}

.widgetImg:hover {
  top: -3px;
  transition: .65s;
}

.rowUL {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.rowLI {
  padding: 10px;
  display: inline-block;
}

h1 {
  text-align: center;
  font-weight: 300;
  font-size: 100px;
  margin-top: 120px;
}
/* end */

.temp {
  text-align: center;
  margin-top: 100px;
  font-weight: 300;
  letter-spacing: 1px;
}

.temp a {
  color: #da0f0f;
}

/* /////////////////////////////////////////////////////////////*/
/*MEDIA QUERY*/
@media all and (max-width: 600px) {

div.projectColumn {
    margin-left: 0;
    height: 100%;
    width: 100%;
  }

  .projectImg {
    margin-left: 0;
    width: 100%;
    height: 100%;
  }

  .projectBack{
    margin-left: 0;
    width: 100%;
    height: 97%;
  }

  .projectPreview {
    margin-left: -77px;
    height: 55%;
  }

  .projectPreview > img {
    margin-left: -77px;
    height: 55%;
  }

}


@media all and (min-width: 600px) {
  .col-1-2 {
    float: left;
    width: 50%;
  }

  .col-1-3 {
    float: left;
    width: 20%;
  }

  .col-2-3 {
    float: left;
    width: 75%;
  }

}

@media only screen and (max-width : 917px) {

  header {
    position: fixed;
  }

  .intro1 .intro2 {
    float: left;
    width: 50%;
  }

  #menu-icon {
    display:inline-block;
    background-color: #333;
  }

  nav ul, nav:active ul {
    display: none;
    position: absolute;
    padding: 26px;
    background: white;
    border: 1px solid #444;
    right: 20px;
    top: 60px;
    width: 50%;
    border-radius: 4px;
  }

  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }

  nav:hover ul {
    display: block;
  }

/* /////////////////////////////////////////////////////////////*/
/* chamoun */

.gameOver {
  font-family: Phosphate;
  font-size: 20px;
  text-align: center;
  margin-top: 80px;
  padding-top: 0;
  color: #900C3F;
}

