<%= erb :'/navbar'%>


  <h1>Say hey.</h1>


    <ul class="rowUL">
      <li class="rowLI">
        <a href="https://twitter.com/sa0un">
          <img class="widgetImg" src="../img/twitter.png"/>
        </a>
      </li>
      <li class="rowLI">
        <a href="https://www.facebook.com/sadakaoun">
          <img class="widgetImg" src="../img/facebook.png"/>
        </a>
      </li>
      <li class="rowLI">
        <a href="https://www.github.com/saoun">
          <img class="widgetImg" src="../img/github.png"/>
        </a>
      </li>
      <li class="rowLI">
        <a href="https://www.linkedin.com/in/sarahmaoun">
          <img class="widgetImg" src="../img/linkedin.png"/>
        </a>
      </li>
      <li class="rowLI">
        <a href="mailto:sarahm.aoun@gmail.com">
          <img class="widgetImg" src="../img/mail.png"/>
        </a>
      </li>
    </ul>
