<%= erb :'/navbar'%>

<div class="row clearfix cv">
  <div class="col-1-3">
  <h3>EDUCATION</h3>
  </div>

  <div class="col-2-3">
  <h3>Brown University</h3>
  <h5>B.A. in International Relations: Global Security, Political Economy</h5>

  <h3>University College of London</h3>
  <h5>International Security, International Law, Human Rights</h5>

  <h3>Rhode Island School of Design (RISD)</h3>
  <h5>Analog and Digital Photography</h5>


  </div>
</div>

<div class="dividerCV"></div>

<div class="row clearfix cv">
  <div class="col-1-3">
  <h3>EXPERIENCE</h3>
  </div>

  <div class="col-2-3">
  <h3>General Assembly</h3>
    <h4><em>Full-Stack Web Development</em></h4>
    <h5>Ruby, Ruby on Rails, Sinatra, PostgreSQL, RSpec, Javascript, jQuery, Node.js, Express, ReactJS,
Redux, Heroku, Git, Github, HTML5, CSS</h5>

  <h3>Silk.co</h3>
    <h4><em>Strategist</em></h4>
    <h5>• Implemented content distribution & growth strategies across existing marketing channels -
website, social media, email - and identified new channels to reach key audiences<br>
• Analyzed and measured content performance and results - including lead generation,
and business growth metrics<br>
• Worked across Product and Engineering teams to develop and launch new features<br>
• Identified new growth strategies through key development partners and verticals<br>
• Led data workshops at international and regional conferences, news agencies, NGOs,
universities, and companies, with audiences ranging from 10 to 100+ people</h5>

  <h3>Human Rights Watch</h3>
      <h4><em>Content Marketing Strategist</em></h4>
      <h5>• Created HRW Tumblr account, accrued tens of thousands of followers in 5-6 weeks. Recognized
as the fastest growing social media account<br>
• Developed communication strategies based on audience research, message development, and
core content, with specific guidance on voice, tactics, and timing<br>
• Coordinated with Digital Communications Team on target audience strategies<br>
• Monitored and optimized media traffic, increased reach of press releases, drove fundraising
efforts</h5>

  <h3>Human Rights Watch</h3>
    <h4><em>Legal and Policy (L&P) Associate, Senior Associate</em></h4>
    <h5>• Created new system for tracking timeline of materials, increased efficiency throughout divisions<br>
• Pro-actively managed and monitored editorial, legal, media material locally and
internationally; addressed timing, delays, rerouting, and status <br>
• Managed pipeline and multiple L&P projects, ensured precision of sensitive information</h5>

  </div>
</div>

<div class="dividerCV"></div>

<div class="row clearfix cv">
  <div class="col-1-3">
  <h3>LANGUAGES</h3>
  </div>

  <div class="col-2-3">
  <h3>Trilingual (native speaker: French, Arabic, English), and highly proficient in Italian</h3>
  </div>
</div>

<div class="dividerCV"></div>


