<%= erb :'/navbar'%>

<div class="workshops clearfix">
  <h3>A few of the places I've spoken at, or given workshops:</h3>
  <div class="divider"></div>
  <p><strong>Internet Freedom Festival '17</strong> - Fellow on Design & Communication</p>
  <p><strong>International Center for Journalists (ICFJ) '15 '16</strong> - Data visualization, journalism</p>
  <p><strong>Investigative Reporters and Editors (IRE) '16</strong> - Data visualization, journalism</p>
  <p><strong>Gulf Center for Human Rights '16</strong> - Data visualization, advocacy, activism</p>
  <p><strong>Rafto Foundation '16</strong> - Data visualization and advocacy, human rights, activism</p>
  <p><strong>Boston University’s Data Storytelling '16</strong> - Data storytelling, data mapping</p>
  <p><strong>Internet Freedom Festival '16</strong> - Data storytelling, visualization, advocacy</p>
  <p><strong>Data4Change, Small Media '15 '16</strong> - Data visualization, manipulation, mapping, advocacy</p>
</div>
