*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  margin: 0;
}

/* NAVBAR */

 a {
  text-decoration: none;
  color: #828080;
}

#logo a {
  color: #333;
}

a:hover{
  color: #da0f0f;
}

a:hover#menu-icon {
  background-color: #333;
}

header {
  font-weight: 300;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  border-bottom: 1px solid black;
  z-index: 100;
}

#logo {
  font-weight: 700;
  font-size: 30px;
  margin-left: 60px;
  float: left;
  display: block;
}

nav {
  float: right;
  padding: 32px;
}

.navUL {
  list-style: none;
}

.navUL li {
  display: inline-block;
  float: left;
  padding: 0 15px 0 15px;
  font-size: 15px;
  letter-spacing: 1px;
}

#menu-icon {
  display: hidden;
  width: 40px;
  height: 40px;
  background: #333 url(../img/menu-icon.png) center;
}


/* ABOUT PAGE */

.banner {
  position: relative;
  background: url(../img/photo1.jpg) no-repeat center;
  width: 100%;
  height: 30vh;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; /* check these again */
/*   background-position: 100px 100px;
 */
}

.row {
  margin: 0 -10px;
  margin-bottom: 20px;
}

.row:last-child {
  margin-bottom: 0;
}

[class*="col-"] {
  padding: 10px;

}

.intro1 h3 {
  font-weight: 600;
  letter-spacing: 1px;
}

.intro2 {
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 28px;
}


/* CONTACT PAGE */

 .widgetImg {
  width: 70px;
  position: relative;
  align-content: center;
  text-align: center;
}

.widgetImg:hover {
  top: -3px;
  transition: .65s;
}

.rowUL {
  text-align: center;
  margin: 0 auto;
  align-content: center;
  padding: 0;
  width: 100%;
}

.rowLI {
  padding: 15px;
  display: inline-block;
}

h1 {
  text-align: center;
  font-weight: 300;
  font-size: 100px;
}

/* end */



/*MEDIA QUERY*/
@media all and (min-width: 600px) {
  .col-1-2 {
    float: left;
    width: 50%;
  }
}


@media only screen and (max-width : 640px) {

  header {
    position: absolute;
  }

  .intro1 .intro2 {
    float: left;
    width: 50%;
  }

  #menu-icon {
    display:inline-block;
    background-color: #333;
  }

  nav ul, nav:active ul {
    display: none;
    position: absolute;
    padding: 26px;
    background: white;
    border: 1px solid #444;
    right: 20px;
    top: 60px;
    width: 50%;
    border-radius: 4px;
  }

  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }

  nav:hover ul {
    display: block;
  }


